* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(242, 243, 249);
  overflow-x: hidden;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #004274;
  padding: 15px 20px;
}
.logo {
  color: #fff;
  font-size: 18px;
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #004274;
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  color: white;
  cursor: pointer;
  font-size: 1.2 rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 22px;
}

#check {
  display: none;
}

@media (max-width: 1030px) {
  header span li {
    position: relative;
    bottom: 50px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -80%;
    z-index: 100;
    background-color: #004274;
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 20px;
  }
  .menu li a {
    display: block;
    padding: 15px 0;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}

.about {
  display: flex;
  justify-self: center;
  color: black;
  font-size: 25px;
  font-weight: 550;
  font-family: "Avenir", sans-serif;
  margin-top: 70px;
}

.about1 {
  color: rgb(0, 80, 123);
  margin-left: 8px;
}

.img {
  display: flex;
  justify-content: center;
}

.img1 {
  width: 200px;
  margin-top: 10px;
  border-radius: 50%;
}

.exp {
  text-align: center;
  line-height: 1.5;
  justify-self: center;
}

.span1 {
  font-weight: 600;
}

.span2 {
  color: #126aad;
  font-weight: 600;
}

.text {
  font-size: 13px;
  color: rgb(57, 46, 46);
  margin-top: 12px;
  max-width: 300px;
  justify-self: center;
  text-align: justify;
  line-height: 1.5;
}

.skills1 {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills2 {
  font-size: 13px;
  justify-self: center;
  color: rgb(39, 33, 33);
}

.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.html5 {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.html {
  width: 48px;
  height: 48px;
}

.css5 {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.css {
  width: 48px;
  height: 48px;
}

.js5 {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.js {
  width: 48px;
  height: 48px;
}

.logos1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.tailwind {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tailwind1 {
  width: 48px;
  height: 48px;
}

.react {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.react1 {
  width: 48px;
  height: 48px;
}

.typescript {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.typescript1 {
  width: 48px;
  height: 48px;
}

.logos2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.photoshop {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Photoshop1 {
  width: 48px;
  height: 48px;
}

.illustrator {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.illustrator1 {
  width: 48px;
  height: 48px;
}

.indesign {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.indesign1 {
  width: 48px;
  height: 48px;
}

.logos3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.premiere {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Premiere1 {
  width: 48px;
  height: 48px;
}

.audition {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.audition1 {
  width: 48px;
  height: 48px;
}

.lightroom {
  background-color: white;
  padding: 15px 15px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lightroom img {
  width: 48px;
  height: 48px;
}

.btn-cvv {
  justify-self: center;
  margin-top: 16px;
}

.btn-cv {
  border-style: none;
  color: #fff;
  font-size: 15px;
  padding: 14px 40px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.88px;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
  background-color: rgb(0, 80, 123);
}

@media (min-width: 460px) {
  nav a {
    font-size: 20px;
  }

  .logo {
    font-size: 19px;
  }

  .nav-bar {
    padding: 17px;
  }

  .open-menu {
    font-size: 1.4rem;
  }

  .close-menu {
    font-size: 1.4rem;
  }

  .about {
    display: flex;
    justify-self: center;
    color: black;
    font-size: 35px;
    font-weight: 550;
    font-family: "Avenir", sans-serif;
    margin-top: 75px;
  }

  .about1 {
    color: rgb(0, 80, 123);
    margin-left: 8px;
  }

  .img {
    display: flex;
    justify-content: center;
  }

  .img1 {
    width: 300px;
    margin-top: 18px;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .exp {
    text-align: center;
    line-height: 1.5;
    font-size: 19px;
    justify-self: center;
  }

  .span1 {
    font-weight: 600;
  }

  .span2 {
    color: #126aad;
    font-weight: 600;
  }

  .text {
    font-size: 17px;
    color: rgb(57, 46, 46);
    margin-top: 12px;
    max-width: 360px;
    justify-self: center;
    text-align: justify;
    line-height: 1.5;
  }

  .skills1 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 25px;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .skills2 {
    font-size: 18px;
    justify-self: center;
    color: rgb(39, 33, 33);
  }

  .logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .html5 {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .html {
    width: 90px;
    height: 90px;
  }

  .css5 {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .css {
    width: 90px;
    height: 90px;
  }

  .js5 {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .js {
    width: 90px;
    height: 90px;
  }

  .logos1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .tailwind {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tailwind1 {
    width: 90px;
    height: 90px;
  }

  .react {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .react1 {
    width: 90px;
    height: 90px;
  }

  .typescript {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .typescript1 {
    width: 90px;
    height: 90px;
  }

  .logos2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .photoshop {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Photoshop1 {
    width: 88px;
    height: 88px;
  }

  .illustrator {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .illustrator1 {
    width: 88px;
    height: 88px;
  }

  .indesign {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .indesign1 {
    width: 88px;
    height: 88px;
  }

  .logos3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .premiere {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Premiere1 {
    width: 88px;
    height: 88px;
  }

  .audition {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .audition1 {
    width: 88px;
    height: 88px;
  }

  .lightroom {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lightroom img {
    width: 88px;
    height: 88px;
  }

  .logotext {
    font-size: 16px;
  }

  .btn-cvv {
    justify-self: center;
    margin-top: 16px;
  }

  .btn-cv {
    border-style: none;
    color: #fff;
    font-size: 19px;
    padding: 25px 60px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.88px;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 80, 123);
  }
}

@media (min-width: 650px) {
  nav a {
    font-size: 23px;
    margin-top: 20px;
  }

  .logo {
    font-size: 23px;
  }

  .nav-bar {
    padding: 20px;
  }

  .open-menu {
    font-size: 1.6rem;
  }

  .close-menu {
    font-size: 1.6rem;
  }

  .about {
    display: flex;
    justify-self: center;
    color: black;
    font-size: 39px;
    font-weight: 550;
    font-family: "Avenir", sans-serif;
    margin-top: 90px;
  }

  .about1 {
    color: rgb(0, 80, 123);
    margin-left: 8px;
  }

  .img {
    display: flex;
    justify-content: center;
  }

  .img1 {
    width: 370px;
    margin-top: 22px;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .exp {
    text-align: center;
    line-height: 1.5;
    font-size: 27px;
    justify-self: center;
  }

  .span1 {
    font-weight: 600;
  }

  .span2 {
    color: #126aad;
    font-weight: 600;
  }

  .text {
    font-size: 22px;
    color: rgb(57, 46, 46);
    margin-top: 12px;
    max-width: 480px;
    justify-self: center;
    text-align: justify;
    line-height: 1.5;
  }

  .skills1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 28px;
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .skills2 {
    font-size: 22px;
    justify-self: center;
    color: rgb(39, 33, 33);
  }

  .logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .html5 {
    background-color: white;
    padding: 44px 44px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .html {
    width: 90px;
    height: 90px;
  }

  .css5 {
    background-color: white;
    padding: 44px 44px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .css {
    width: 90px;
    height: 90px;
  }

  .js5 {
    background-color: white;
    padding: 44px 44px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .js {
    width: 90px;
    height: 90px;
  }

  .logos1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .tailwind {
    background-color: white;
    padding: 44px 44px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tailwind1 {
    width: 90px;
    height: 90px;
  }

  .react {
    background-color: white;
    padding: 44px 44px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .react1 {
    width: 90px;
    height: 90px;
  }

  .typescript {
    background-color: white;
    padding: 44px 44px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .typescript1 {
    width: 90px;
    height: 90px;
  }

  .logos2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .photoshop {
    background-color: white;
    padding: 44px 52px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Photoshop1 {
    width: 75px;
    height: 75px;
  }

  .illustrator {
    background-color: white;
    padding: 44px 52px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .illustrator1 {
    width: 75px;
    height: 75px;
  }

  .indesign {
    background-color: white;
    padding: 44px 52px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .indesign1 {
    width: 75px;
    height: 75px;
  }

  .logos3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .premiere {
    background-color: white;
    padding: 44px 52px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Premiere1 {
    width: 75px;
    height: 75px;
  }

  .audition {
    background-color: white;
    padding: 44px 52px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .audition1 {
    width: 75px;
    height: 75px;
  }

  .lightroom {
    background-color: white;
    padding: 44px 52px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lightroom img {
    width: 75px;
    height: 75px;
  }

  .logotext {
    font-size: 16px;
  }

  .btn-cvv {
    justify-self: center;
    margin-top: 16px;
  }

  .btn-cv {
    border-style: none;
    color: #fff;
    font-size: 18px;
    padding: 28px 70px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.88px;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 80, 123);
  }
}

@media (min-width: 770px) {
  nav a {
    font-size: 32px;
    margin-top: 35px;
  }

  .open-menu {
    font-size: 2.2rem;
    margin-right: 13px;
  }

  .close-menu {
    font-size: 2.2rem;
  }

  .logo {
    font-size: 33px;
  }

  .nav-bar {
    padding: 30px;
  }

  .about {
    display: flex;
    justify-self: center;
    color: black;
    font-size: 50px;
    font-weight: 550;
    font-family: "Avenir", sans-serif;
    margin-top: 120px;
  }

  .exp {
    text-align: center;
    line-height: 1.5;
    font-size: 32px;
    justify-self: center;
  }

  .span1 {
    font-weight: 600;
  }

  .span2 {
    color: #126aad;
    font-weight: 600;
  }

  .text {
    font-size: 25px;
    color: rgb(57, 46, 46);
    margin-top: 18px;
    max-width: 560px;
    justify-self: center;
    text-align: justify;
    line-height: 1.5;
  }

  .skills1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .skills2 {
    font-size: 25px;
    justify-self: center;
    color: rgb(39, 33, 33);
  }

  .btn-cv {
    border-style: none;
    color: #fff;
    font-size: 20px;
    padding: 28px 70px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.88px;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 80, 123);
  }
}

@media (min-width: 850px) {
  nav a {
    font-size: 35px;
    margin-top: 37px;
  }

  .logo {
    font-size: 32px;
    margin-left: 37;
  }

  .nav-bar {
    padding: 30px;
  }

  .open-menu {
    font-size: 2.2rem;
    margin-right: 16px;
  }

  .close-menu {
    font-size: 2.2rem;
    margin-right: 16px;
    margin-top: 8px;
  }

  .about {
    display: flex;
    justify-self: center;
    color: black;
    font-size: 50px;
    font-weight: 550;
    font-family: "Avenir", sans-serif;
    margin-top: 130px;
  }

  .about1 {
    color: rgb(0, 80, 123);
    margin-left: 8px;
  }

  .img {
    display: flex;
    justify-content: center;
  }

  .img1 {
    width: 550px;
    margin-top: 22px;
    margin-bottom: 0;
    border-radius: 50%;
  }

  .exp {
    text-align: center;
    line-height: 1.5;
    font-size: 37px;
    justify-self: center;
  }

  .span1 {
    font-weight: 600;
  }

  .span2 {
    color: #126aad;
    font-weight: 600;
  }

  .text {
    font-size: 30px;
    color: rgb(57, 46, 46);
    margin-top: 12px;
    max-width: 640px;
    justify-self: center;
    text-align: justify;
    line-height: 1.5;
  }

  .skills1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 38px;
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .skills2 {
    font-size: 29px;
    justify-self: center;
    color: rgb(39, 33, 33);
  }

  .logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .html5 {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .html {
    width: 110px;
    height: 110px;
  }

  .css5 {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .css {
    width: 110px;
    height: 110px;
  }

  .js5 {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .js {
    width: 110px;
    height: 110px;
  }

  .logos1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .tailwind {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tailwind1 {
    width: 110px;
    height: 110px;
  }

  .react {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .react1 {
    width: 110px;
    height: 110px;
  }

  .typescript {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .typescript1 {
    width: 110px;
    height: 110px;
  }

  .logos2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .photoshop {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Photoshop1 {
    width: 110px;
    height: 110px;
  }

  .illustrator {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .illustrator1 {
    width: 110px;
    height: 110px;
  }

  .indesign {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .indesign1 {
    width: 110px;
    height: 110px;
  }

  .logos3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
  }

  .premiere {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Premiere1 {
    width: 110px;
    height: 110px;
  }

  .audition {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .audition1 {
    width: 110px;
    height: 110px;
  }

  .lightroom {
    background-color: white;
    padding: 70px 70px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lightroom img {
    width: 110px;
    height: 110px;
  }

  .logotext {
    font-size: 25px;
  }

  .btn-cvv {
    justify-self: center;
    margin-top: 16px;
  }

  .btn-cv {
    border-style: none;
    color: #fff;
    font-size: 30px;
    padding: 30px 100px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.88px;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 80, 123);
  }
}

@media (min-width: 980px) {
  .exp {
    text-align: center;
    line-height: 1.5;
    font-size: 43px;
    justify-self: center;
  }

  .span1 {
    font-weight: 600;
  }

  .span2 {
    color: #126aad;
    font-weight: 600;
  }

  .text {
    font-size: 38px;
    color: rgb(57, 46, 46);
    margin-top: 12px;
    max-width: 740px;
    justify-self: center;
    text-align: justify;
    line-height: 1.5;
  }

  .skills1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 44px;
    color: black;
    font-weight: 600;
    margin-bottom: 28px;
  }

  .skills2 {
    font-size: 37px;
    justify-self: center;
    margin-bottom: 50px;
    color: rgb(39, 33, 33);
  }

  .btn-cvv {
    justify-self: center;
    margin-top: 16px;
  }

  .btn-cv {
    border-style: none;
    color: #fff;
    font-size: 30px;
    padding: 37px 130px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.88px;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 80, 123);
  }
}

@media (min-width: 1033px) {
  .logo {
    font-size: 20px;
    margin-left: 50px;
  }

  span li a {
    margin: 0 10px;
    font-size: 20px;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 25px;
  }

  .menu {
    margin-right: 100px;
  }

  .about {
    display: flex;
    justify-self: center;
    color: black;
    font-size: 38px;
    font-weight: 550;
    font-family: "Avenir", sans-serif;
    margin-top: 100px;
  }

  .about1 {
    color: rgb(0, 80, 123);
    margin-left: 8px;
  }

  .img {
    display: flex;
    justify-content: start;
    margin-left: 80px;
  }
  
  .img1 {
    width: 400px;
    margin-top: -18px;
    margin-bottom: 10px;
    border-radius: 50%;
  }
  
    .break {
      display: none;
    }

  .exp {
    text-align: center;
    line-height: 1.5;
    font-size: 33px;
    text-align: start;
    position: absolute;
    top: 160px;
    left: 520px;
    margin-right: 70px;
    justify-self: center;
  }

  .span1 {
    font-weight: 600;
  }

  .span2 {
    color: #126aad;
    font-weight: 600;
  }

  .text {
    font-size: 35px;
    color: rgb(57, 46, 46);
    margin-top: 12px;
    position: absolute;
    top: 260px;
    left: 520px;
    max-width: 990px;
    justify-self: center;
    text-align: justify;
    line-height: 1.5;
  }

  .skills1 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 35px;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .skills2 {
    font-size: 30px;
    justify-self: center;
    color: rgb(39, 33, 33);
  }

  .logos {
    display: flex;
    justify-content: start;
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .html5 {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .html {
    width: 90px;
    height: 90px;
  }

  .css5 {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .css {
    width: 90px;
    height: 90px;
  }

  .js5 {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .js {
    width: 90px;
    height: 90px;
  }

  .logos1 {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 655px;
    left: 830px;
  }

  .tailwind {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .tailwind1 {
    width: 90px;
    height: 90px;
  }

  .react {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .react1 {
    width: 90px;
    height: 90px;
  }

  .typescript {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .typescript1 {
    width: 90px;
    height: 90px;
  }

  .logos2 {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-left: 220px;
  }

  .photoshop {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .Photoshop1 {
    width: 88px;
    height: 88px;
  }

  .illustrator {
    background-color: white;
    padding: 27px 27px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 60px;
  }

  .illustrator1 {
    width: 88px;
    height: 88px;
  }

  .indesign {
    background-color: white;
    padding: 27px 32px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .indesign1 {
    width: 88px;
    height: 88px;
  }

  .logos3 {
    display: flex;
    margin-top: 20px;
    position: absolute;
    top: 888px;
    left: 830px;
  }

  .premiere {
    background-color: white;
    padding: 27px 30px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 56px;
  }

  .Premiere1 {
    width: 88px;
    height: 88px;
  }

  .audition {
    background-color: white;
    padding: 27px 29px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 56px;
  }

  .audition1 {
    width: 88px;
    height: 88px;
  }

  .lightroom {
    background-color: white;
    padding: 27px 29px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lightroom img {
    width: 88px;
    height: 88px;
  }

  .logotext {
    font-size: 18px;
  }

  .btn-cvv {
    justify-self: center;
    margin-top: 16px;
  }

  .btn-cv {
    border-style: none;
    color: #fff;
    font-size: 30px;
    padding: 35px 180px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.88px;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 80, 123);
  }   
}